@font-face {
    font-family: 'AnonymousPro';
    src: url('fonts/AnonymousPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Baybayin';
    src: url('fonts/BAYBAYIN-SISIL_07012018_1032_UNICODE.ttf') format('truetype');
}
@font-face {
    font-family: 'LeagueSpartan';
    src: url('fonts/LeagueSpartan-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontReg';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontSemB';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Playlist';
    src: url('fonts/Playlist-Script.otf') format('opentype');
}
@font-face {
    font-family: 'Hoves';
    src: url('fonts/TT-Hoves-Pro-Bold-Outline-Trial.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eee;
}

/* ================================================================= Loading screen */

.loading_screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222831;
    z-index: 100;
    overflow: hidden;
    animation: end-loading 2s 10s;
}

.loading_screen_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo path{
    stroke-dashoffset: 1250;
    stroke-dasharray: 1250;
    fill-opacity: 0;
    animation: draw-fill 10s forwards;
}

@keyframes draw-fill {
    0% {
        stroke-dashoffset: 1250;
        stroke-dasharray: 1250;
        fill-opacity: 0;
    }
    70% {
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        fill-opacity: 1;
    }
}

@keyframes end-loading {
    to {
        background-color: #eee;
        opacity: 0;
    }
}

/* ================================================================= Social Icons */

.banner {
    position: fixed;
    background-color: #222831;
    width: 45px;
    height: 100vh;
    z-index: 50;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -50%;
    transition: all .5s ease; 
}

.social-icons {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.social-icons a {
    transition: all 0.3s ease;
    font-size: 20px;
    position: relative;
    color: #eee;
}

.fb i:hover{
    transition: all 0.3s ease;
    color: #0F90F3;
}

.lk i:hover {
    transition: all 0.3s ease;
    color: #0A66C2;
}

.gh i:hover {
    transition: all 0.3s ease;
    color: #171515;
}

/* ================================================================= Calendar Styles */

#calendarPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.x-container {
    position: absolute;
    right: 5%;
    top: 7%;
    cursor: pointer;
    transform: translate(0, -50%);
}

.x-line1, .x-line2 {
    transition: transform 0.5s ease-in-out, stroke 0.5s ease-in-out;
    transform-origin: center;
}

.x:hover .x-line1 {
    transform: rotate(-45deg);
    stroke: #E46047;
}

.x:hover .x-line2 {
    transform: rotate(45deg);
    stroke: #E46047;
}

#calendarContainer {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}

.schedTitle {
    margin-bottom: 20px;
    font-family: MontSemB;
    font-size: larger;
}

#scheduleForm label{
    display: block;
    margin-bottom: 5px;
    font-family: MontSemB;
    transition: all .5s ease; 
}

#scheduleForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: MontReg;
}

#scheduleForm input[type="submit"] {
    background-color: #00ADB5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#scheduleForm input[type="submit"]:hover {
    background-color: #00868d;
}


/* ================================================================= Main styles */

.main_screen {
    display: grid;
    grid-template-rows: repeat(2, 100vh);
    gap: 20px;
    overflow: hidden; 
}

@media screen and (max-width: 768px) {
    .main_screen {
        grid-template-rows: repeat(4, 50vh); /* Adjust for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .main_screen {
        grid-template-rows: repeat(6, 33.33vh); /* Adjust for even smaller screens */
    }
}

.page1,
.page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    overflow: hidden;
    position: relative;
}

.baybayin, .vscp, .dev {
    position: absolute;
    color: #222831;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.baybayin {
    font-size: 169px;
    font-family: Baybayin;
    opacity: 0.1;
    top:calc(50% - 60px);
    transition: all 0s ease; 
}

.vscp {
    font-size: 125px;
    font-family: Playlist;
    top: calc(50% - 60px);
}

.dev {
    font-size: 26px;
    font-family: LeagueSpartan;
    font-weight: bold;
    top: calc(50% - 10px);
    left: calc(50% + 70px);
    transform: translateX(-50%);
}


.aboutme{
    position: absolute;
    font-size: 135px;
    font-family: Hoves;
    color: #222831;
    opacity: 0.1;
    top: calc(50% - 70px);
    left: -25%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    transition: all 0s ease; 
}

.atext {
    position: absolute;
    font-size: 25px;
    font-family: MontReg;
    line-height: 1.5;
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.schedule-button {
    position: absolute;
    background-color: #00ADB5;
    color: #eee;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 63%;
    left: 32.7%;
    font-family: MontSemB;
}

.schedule-button:hover {
    background-color: #00868d;
}

.schedule-button i {
    margin-right: 8px;
}
